* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

container {
    width: 1280px;
    margin: 0;
    padding: 15px;
}

@font-face {
    font-display: swap;
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/fraunces-v31-latin-900.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/barlow-v12-latin-regular.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Barlow";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/barlow-v12-latin-900.woff2") format("woff2");
}

body {
    overflow-x: hidden;
    font-family: "Barlow";
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Fraunces";
    font-weight: 900;
}

nav {
    padding: 50px 0 48px 0;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation .menu {
    display: flex;
    align-items: center;
    column-gap: 33px;
}

.menu a {
    font-weight: 700;
    color: #83888f;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
}

.menu a.active {
    color: #333d48;
}

.burger {
    display: none;
}

header {
    margin-bottom: 196px;
}

.hero {
    background-image: url(../imags/Bitmap.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    align-items: center;
    padding-left: 80px;
    color: #fefcf7;
    border-radius: 15px;
}

.hero-content h1 {
    font-size: 72px;
    line-height: 72px;
    max-width: 433px;
    margin-bottom: 32px;
}

.hero-content p {
    max-width: 445px;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 56px;
    opacity: 0.8;
}

.button {
    background-color: #66d2cf;
    color: #fefcf7;
    border: none;
    padding: 15px 31px;
    font-family: "Fraunces";
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
}

.collection-main {
    background-image: url(../imags/Group\ 13.svg);
    height: 196px;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

.collection-box {
    text-align: center;
    max-width: 255px;
}

.collection-box img {
    height: 193px;
    object-fit: cover;
}

.collection-text {
    padding-top: 51px;
}

.collection-text h2 {
    font-size: 24px;
    line-height: 32px;
    color: #333d48;
    margin-bottom: 24px;
}

.collection-text p {
    font-size: 26px;
    line-height: 26px;
    color: #333d48;
}

.collection-cards {
    display: flex;
    justify-content: space-between;
}

.qora {
    margin-top: 50px;
    max-width: 1280px;
    max-height: 580px;
    background-color: black;
}

.qora p {
    max-width: 540px;
    max-height: 80px;
    color: #fefcf7;
    line-height: 26px;
}

.qora h2 {
    color: #fefcf7;
    width: 900px;
    line-height: 48px;
}

.yashil {
    display: flex;
    justify-content: space-around;
    max-width: 1100px;
    max-height: 380px;
}

.yashil1 {
    text-align: center;
    margin: 20px;
    background-color: #0e8784;
    max-width: 350px;
    max-height: 380px;
}


}
.yashil1 img {
    margin-left: 80px;
}
.yashil2 h3 {
    margin: 56px 48px 30px 48px;
}

}
.yashil2 p {
    margin: 0 0 25px 25px;
    max-width: 155px;
    max-height: 80px;
}
.work1 img {
    padding-bottom: 5px;
    width: 31px;
    height: 31px;
}
.works {
    margin-top: 50px;
}
.works p {
    color:#83888F;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
}
.work {
    display: flex;
    justify-content: center;
    padding: 10px;
}
.work1 span {
    color: #fdd6ba;
    width: 100px;
    height: 72px;
    font-weight: 900px;
    line-height: 72px;
    font-size: 72px;
}
.work1 {
    margin: 10px;
}
.work2 h3 {
    font-weight: 900;
    line-height: 36px;
    font-size: 32px;
    width: 255px;
    height: 72px;
}
.work p {
    color: #333d4b;
    width: 285px;
    height: 130px;
    line-height: 26px;
    font-size: 16px;
}
@media screen and(max-width:992px) {
    .collection-box {
        display: flex;
        max-width: 100%;
        text-align: left;
        align-items: center;
    }
    .collection-cards {
        flex-direction: column;
        align-items: center;
    }
    .collection-text {
        padding-top: 0;
    }
    .yashil1 {
        margin: 5px;
    }
}
@media screen and (max-width: 768px) {
    .hero-content h1 {
        font-size: 48px;
        line-height: 48px;
        margin-bottom: 28px;
        max-width: 329px;
    }
    .hero-content p {
        font-size: 15px;
        line-height: 25px;
        margin-bottom: 45px;
        max-width: 398px;
    }
    .collection-box {}
}
@media screen and (max-width: 576px) {
    header {
        margin-bottom: 120px;
    }
    .navigation .menu {
        display: none;
    }
    .burger {
        display: block;
        cursor: pointer;
    }
    .hero {
        background-image: url(../imags/mobile.jpg);
        justify-content: center;
        text-align: center;
        padding: 0 24px 0 24px;
        min-height: 500px;
    }
    .hero-content h1 {
        max-width: 100%;
        font-size: 40px;
        line-height: 40px;
    }
    .hero-content p {
        max-width: 100px;
    }
    .collection-main {
        height: 72px;
        margin-bottom: 13px;
    }
    .collection-box {
        flex-direction: column;
        text-align: center;
        max-width: 282px;
    }
    .collection-cards {
        align-items: center;
        row-gap: 48px;
    }
    .collection-text {
        text-align: center;
    }
}